:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #ffffff;
	color: #3c3d42;
	--site-header-height: 5rem;
	--subnav-top: calc(var(--site-header-height) + 12px);
	--subnav-height: 48px;
}

p {
	text-wrap: balance;
}

h1,
h2,
h3 {
	text-wrap: pretty;
}

br {
	display: block;
	content: "";
	margin-top: 10px;
}

@media (min-width: 1280px) {
	:root {
		--site-header-height: 5.5rem;
	}
}
