@import url("../assets/css/base/base.css");
@import url("../assets/css/base/reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-width {
  padding-inline: 20px;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1200px) {
  .page-width {
    padding-inline: 70px;
  }
}
@media only screen and (min-width: 1920px) {
  .page-width {
    padding-inline: 140px;
  }
}
