@import url("../assets/css/base/base.css");
@import url("../assets/css/base/reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-width {
	width: 91.66%;
	margin-inline: auto;
}

html {
	scroll-behavior: smooth;
}

.section-y-padding {
	padding-block: 50px;
}

.blurred-overlay {
	position: relative;
	overflow: hidden;
}

.blurred-overlay::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-image: inherit;
	background-size: cover;
	background-position: center;
	filter: blur(10px);
	transform: scale(1.1);
}

.blurred-overlay img {
	position: relative;
	z-index: 1;
}

.expandable-tag-link::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 5;
	cursor: pointer;
}

.dark-overlay::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: inherit;
}

.container-link-overlay::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 5;
}

@media only screen and (min-width: 1200px) {
	.page-width {
		width: 75%;
		margin-inline: auto;
	}
}
