@import url("./assets/css/abstracts/fonts.css");
@import url("./assets/css/base/base.css");
@import url("./assets/css/base/reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred-img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred-img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2.5s infinite;
  background-color: var(--text-color);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.blurred-img.loaded::before {
  animation: none;
  content: none;
}

.blurred-img img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.blurred-img.loaded img {
  opacity: 1;
}

.page-width {
  padding-inline: 20px;
}

@media only screen and (min-width: 1200px) {
  .page-width {
    padding-inline: 70px;
  }
}
@media only screen and (min-width: 1920px) {
  .page-width {
    padding-inline: 140px;
  }
}
