RewriteEngine On
RewriteCond %{HTTP_HOST} mindfulnetwork.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://mindfulnetwork.com/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]